/*Add Rotation Animation*/
@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(900deg)
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(900deg)
    }
}

.rotate {
    -webkit-animation: 2s rotate linear infinite;
    animation: 2s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    margin-right: 10px;
}